.imgy1{ /*Youtube Link*/
    background:url("https://drive.google.com/thumbnail?id=1_gTIHOIcO32di_0QDJPmUq7NUOuz8NwQ&sz=s1000");
    width: 84px;
    height: 87px;
    border: 0.1px solid black;
    margin: auto;

}
.imgy1:hover{
    background: url("https://drive.google.com/thumbnail?id=1T4E04dqD-NqsPfZcFtRdh-KMf5feCfq-&sz=s1000")
}


.imgy2{ /*BLUESKY LINK*/
    background:url("https://drive.google.com/thumbnail?id=1lyBKizsuMF7fcDrQUPjUPYt6-Ea3h0fu&sz=s1000");
    width: 84px;
    height: 87px;
    border: 0.1px solid black;
    margin: auto;

}
.imgy2:hover{
    background: url("https://drive.google.com/thumbnail?id=1YZTAiUEyr7DlBRFvGX-kP3WVPqqhtnpR&sz=s1000")
}


.imgy3{ /*Trumblr*/
    background:url("https://drive.google.com/thumbnail?id=1bAYKam_Vf8Z6ENRoOzkWG8diIMdN710C&sz=s1000");
    width: 84px;
    height: 87px;
    border: 0.1px solid black;
    margin: auto;

}
.imgy3:hover{
    background: url("https://drive.google.com/thumbnail?id=1XNr-lKCyF8T-wIQxPEoLYH-ezNCfNgcQ&sz=s1000");
}


.imgy4{ /*Instagram*/
    background:url("https://drive.google.com/thumbnail?id=1EBo3zWucQWOB4IedausT9jG0Y7fmp11j&sz=s1000");
    width: 84px;
    height: 87px;
    border: 0.1px solid black;
    margin: auto;

}
.imgy4:hover{
    background: url("https://drive.google.com/thumbnail?id=1pmJQeFOjsaTNSH-nxPIcKGNggLvauvIq&sz=s1000")
}


.imgy5{ /*Furaffinity*/
    background:url("https://drive.google.com/thumbnail?id=1N34Ol_XTF5XSeFHuSq8uvQP_z7HkAxMZ&sz=s1000");
    width: 84px;
    height: 87px;
    border: 0.1px solid black;
    margin: auto;

}
.imgy5:hover{
    background: url("https://drive.google.com/thumbnail?id=1nPcwSgcci4SgzU-y9z-W5m4uBmpQOZII&sz=s1000")
}


.imgy6{ /*SoundCloud*/
    background:url("https://drive.google.com/thumbnail?id=1S5QmnxkOWx44U4GKD42oE6j5KO3AajX4&sz=s1000");
    width: 84px;
    height: 87px;
    border: 0.1px solid black;
    margin: auto;

}
.imgy6:hover{
    background: url("https://drive.google.com/thumbnail?id=1k0K04W1jLtKw5aRAQPAY4tfnJTU8uJsW&sz=s1000")
}



.imgy7{ /*homebuttonpage*/
    background:url("https://drive.google.com/thumbnail?id=1AjOm6RhecAWbKok-pLkrMK2zZwkE4CA-&sz=s1000");
    width: 62px;
    height: 56px;
    border: 0.1px solid black;
    margin: auto;

}
.imgy7:hover{
    background: url("https://drive.google.com/thumbnail?id=1WDT2EO4Xe6T_KxG0fR-S_djmwKU8Ek4c&sz=s1000")
}



.imgy8{ /*ArtPage*/
    background:url("https://drive.google.com/thumbnail?id=1Hg0udnk7XXZ1VgLsH_Gyt6cyNkNLOOCn&sz=s1000");
    width: 62px;
    height: 56px;
    border: 0.1px solid black;
    margin: auto;

}
.imgy8:hover{
    background: url("https://drive.google.com/thumbnail?id=1w2-oCl9-pJ6KUGbtba1KTXmCqwikx420&sz=s1000")
}



.imgy9{ /*Camera*/
    background:url("https://drive.google.com/thumbnail?id=1eCFwHw8ek3AVsYQcaJL6CQGn9ZaqOmPe&sz=s1000");
    width: 62px;
    height: 56px;
    border: 0.1px solid black;
    margin: auto;

}
.imgy9:hover{
    background: url("https://drive.google.com/thumbnail?id=1GhXlvuBmf5LGJRiYXVV0p_aYQMrTUoEd&sz=s1000")
}




.imgy1a{ /*Music*/
    background:url("https://drive.google.com/thumbnail?id=1Jm8xOw61q1TCRgMXyl2YN9qWTy5Q1gcV&sz=s1000");
    width: 62px;
    height: 56px;
    border: 0.1px solid black;
    margin: auto;

}
.imgy1a:hover{
    background: url("https://drive.google.com/thumbnail?id=1xgk9Sj3EZh7hCuJQ3BlW6vqn8BhpLMXZ&sz=s1000")
}



.img1b{ /*floppydiskimg*/
  background:url("https://drive.google.com/thumbnail?id=1N73kC2NmHw_dqPiqNAoqWk6A_NfDu-6B&sz=s1000");
  width: 73px;
  height: 72px;
  margin: auto;


}

.img1b:hover{
background: url("https://drive.google.com/thumbnail?id=1_RRIoVip_kFQhlhvGiUDUQqABt73ZIn8&sz=s1000")
}


.img1c{ /*ShoppingcartPage*/
  background:url("https://drive.google.com/thumbnail?id=1U30lIXV5PcsHtq7tIj5F3sxmt2UOttNm&sz=s1000");
  width: 62px;
  height: 56px;
  border: 0.1px solid black;
  margin: auto;


}

.img1c:hover{
background: url("https://drive.google.com/thumbnail?id=1DRUmz0NlXMLn01Ns3sSzP6883Zp_nEXH&sz=s1000")
}


.img1d{ /*FurAF_Art*/
  background:url("https://drive.google.com/thumbnail?id=1N34Ol_XTF5XSeFHuSq8uvQP_z7HkAxMZ&sz=s1000");
  width: 54px;
  height: 57px;
  border: 0.1px solid black;
  margin: auto;


}

.img1d:hover{
background: url("https://drive.google.com/thumbnail?id=1nPcwSgcci4SgzU-y9z-W5m4uBmpQOZII&sz=s1000")
}


.img1e{ /*miniflopyy*/
  background:url("https://drive.google.com/thumbnail?id=1_zGBZ7meklckTzdh0HO1azFaYaWQs6z3&sz=s1000");
  width: 43px;
  height: 46px;
  margin: auto;


}

.img1e:hover{
background: url("https://drive.google.com/thumbnail?id=1Vjr1qql7glyngz7KKqru7QYYWXJ-QpHw&sz=s1000")
}





.img1f{ /*Driver Button*/
  background:url("https://drive.google.com/thumbnail?id=1nNHGlhY3iyPXrPIkKOyRJL6bJ2OFHlqq&sz=s1000");
  width:78px;
  height: 40px;
  border: 0.1px solid black;
  margin: auto;


}

.img1f:hover{
background: url("https://drive.google.com/thumbnail?id=1zun1G4WO32Z5ljdl_elkTUnvK-q5IW26&sz=s1000")
}







.img1g{ /*driverback*/
  background:url("https://drive.google.com/thumbnail?id=1Wx3tgN44ZPZGxhjm3A4ko-HqZlusPsAb&sz=s1000");
  width: 78px;
  height: 40px;
  border: 0.1px solid black;
  margin: auto;


}

.img1g:hover{
background: url("https://drive.google.com/thumbnail?id=1AXIVxtygw_gxS4S9fPyg3L5lKki8mL8o&sz=s1000")
}




.img1h{ /*bandcamp*/
  background:url("https://drive.google.com/thumbnail?id=1soe6ZT4o-5bXjdk5tnpOzq9B78k-xwsN&sz=s1000");
  width: 62px;
  height: 56px;
  border: 0.1px solid black;
  margin: auto;


}

.img1h:hover{
background: url("https://drive.google.com/thumbnail?id=1gC5JFfzzQzPoGgGK6k55Db1cX2IBRQev&sz=s1000")
}







.img1i{ /*soundcloud*/
  background:url("https://drive.google.com/thumbnail?id=1niY1soODT9uW6WHBsKW86O6iNhZy4myQ&sz=s1000");
  width: 62px;
  height: 56px;
  border: 0.1px solid black;
  margin: auto;


}

.img1i:hover{
background: url("https://drive.google.com/thumbnail?id=18acTzCXQ8IHykN_ppdiQXnjP6RYiAaBr&sz=s1000")
}








@font-face {
  font-family: "amiga4ever"; 
  src: url('Fonts/amiga4ever.ttf') format('truetype');
}
@font-face {
font-family: "amiga4everpro"; 
  src: url('Fonts/amiga4ever\ pro.ttf');
}       
@font-face {
font-family: "amiga4everpro2";
src: url('Fonts/amiga4ever\ pro2.ttf') format('truetype'); 
  font-weight: normal; /* Optional: define font weight (e.g., normal, bold, 400, 700) */
  font-style: normal;  /* Optional: define font style (e.g., normal, italic) */
  /* Add other optional properties like font-display if needed */
}

body { font-family: amiga4everpro; }

.rainbow-text {
  font-size: 1.5rem;
  background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
 color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  margin-bottom: 2rem;
}

.rainbow-text:nth-of-type(2) {
   background-image: radial-gradient(circle, violet, indigo, blue, green, yellow, orange, red);
 color: transparent;
}

.rainbow-text:nth-of-type(3) {
   background-image: conic-gradient(from 90deg, violet, indigo, blue, green, yellow, orange, red);
 color: transparent;
}

.rainbow-text-loop {
  font-size: 1.5rem;
  display: inline-block;
  margin-top: 1rem;
  text-shadow: 2px 2px 4px #000000;
  -webkit-animation: rainbow 5s infinite; 
  animation: rainbow 5s infinite;
}

@-webkit-keyframes rainbow{
  0%{color: orange;}  
  10%{color: purple;} 
  20%{color: red;}
  30%{color: CadetBlue;}
  40%{color: yellow;}
  50%{color: coral;}
  60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
  100%{color: orange;}
}
@keyframes rainbow{
  0%{color: orange;}  
  10%{color: purple;} 
  20%{color: red;}
  30%{color: CadetBlue;}
  40%{color: yellow;}
  50%{color: coral;}
  60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
  100%{color: orange;}
}


.rainbow-text-shadow {
  display: inline-block;
  margin-top: 2.5rem;
  font-size: 1.5rem;
  font-weight: 100;
  color: #ef3550;
  letter-spacing: 8px;
  text-shadow: 1px 0 #f48fb1, 2px 0 #7e57c2, 3px 0 #2196f3, 4px 0 #26c6da, 5px 0 #43a047, 6px 0 #eeff41, 7px 0 #f9a825, 8px 0 #ff5722, -1px 0 #f48fb1, -2px 0 #7e57c2, -3px 0 #2196f3, -4px 0 #26c6da, -5px 0 #43a047, -6px 0 #eeff41, -7px 0 #f9a825, -8px 0 #ff5722;
}


body { font-family: amiga4everpro; }

.rainbow-text-loop1 {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.5rem;
  display: inline-block;
  margin-top: 1rem;
  text-shadow: 2px 2px 4px #000000;
  -webkit-animation: rainbow 5s infinite; 
  animation: rainbow 5s infinite;
}

@-webkit-keyframes rainbow{
  0%{color: orange;}  
  10%{color: purple;} 
  20%{color: red;}
  30%{color: rgb(0, 247, 255);}
  40%{color: yellow;}
  50%{color: rgb(255, 68, 0);}
  60%{color: rgb(1, 255, 1);}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
  100%{color: orange;}
}

.coprightyear-text{
  font-family: amiga4everpro;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  margin: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}
